.global-theme {
          --base-unit: 16;
  --ratio: 1.5;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gray-1: #FCFCFC;
  --color-gray-2: #F1F2F4;
  --color-gray-5: #E7EAEC;
  --color-gray-10: #D0D6DA;
  --color-gray-20: #B9C1C8;
  --color-gray-30: #A2ADB6;
  --color-gray-40: #8B99A4;
  --color-gray-50: #738492;
  --color-gray-60: #5C7080;
  --color-gray-70: #455C6E;
  --color-gray-80: #17334A;
  --color-gray-90: #001F38;
  --color-gray-95: #001729;
  --color-gray-98: #000E1A;
  --color-red-5: #fef6f5;
  --color-red-10: #fed6d3;
  --color-red-20: #feb2ab;
  --color-red-30: #fe8577;
  --color-red-40: #f85242;
  --color-red-50: #db302d;
  --color-red-60: #b52525;
  --color-red-70: #931c1c;
  --color-red-80: #721414;
  --color-red-90: #460808;
  --color-gold-5: #fef2e1;
  --color-gold-10: #fedca3;
  --color-gold-20: #ebb402;
  --color-gold-30: #c89901;
  --color-gold-40: #ac8301;
  --color-gold-50: #937000;
  --color-gold-60: #715500;
  --color-gold-70: #513c00;
  --color-gold-80: #342500;
  --color-gold-90: #170e00;
  --color-green-5: #d4fde3;
  --color-green-10: #76fab5;
  --color-green-20: #0ad687;
  --color-green-30: #07b773;
  --color-green-40: #059d62;
  --color-green-50: #038653;
  --color-green-60: #02663e;
  --color-green-70: #01492b;
  --color-green-80: #002e1a;
  --color-green-90: #001308;
  --color-teal-5: #def7f9;
  --color-teal-10: #7AE2E8;
  --color-teal-20: #44ced4;
  --color-teal-30: #18b1b9;
  --color-teal-40: #15979e;
  --color-teal-50: #108287;
  --color-teal-60: #0a6368;
  --color-teal-70: #05464a;
  --color-teal-80: #022d2f;
  --color-teal-90: #001214;
  --color-blue-5: #f5f5fe;
  --color-blue-10: #e9e9fe;
  --color-blue-20: #d0cffe;
  --color-blue-30: #acabfe;
  --color-blue-40: #8a87fe;
  --color-blue-50: #6560fe;
  --color-blue-60: #4a42fd;
  --color-blue-70: #1f03f6;
  --color-blue-80: #1602bf;
  --color-blue-90: #0a007b;
  --color-purple-5: #fcf4fc;
  --color-purple-10: #f8e4f9;
  --color-purple-20: #f0c6f2;
  --color-purple-30: #e697e9;
  --color-purple-40: #dc65e0;
  --color-purple-50: #b64ab9;
  --color-purple-60: #993d9c;
  --color-purple-70: #752d78;
  --color-purple-80: #5a205c;
  --color-purple-90: #371138;
  --sp-none: 0;
  --sp-xxs: 4.741;
  --sp-xs: 10.667;
  --sp-sm: 16;
  --sp-md: 24;
  --sp-lg: 36;
  --sp-xl: 54;
  --sp-xxl: 81;
  --ff-sans: IBM Plex Sans;
  --ff-mono: IBM Plex Mono;
  --ff-serif: IBM Plex Serif;
  --fs-mega: 121.5;
  --fs-h1: 81;
  --fs-h2: 54;
  --fs-h3: 36;
  --fs-body-large: 24;
  --fs-body-long: 19.596;
  --fs-body: 16;
  --fs-body-small: 13.064;
  --fw-light: Light;
  --fw-light-italic: Light Italic;
  --fw-medium: Medium;
  --fw-medium-italic: Medium Italic;
  --fw-semi-bold: SemiBold;
  --fw-semi-bold-italic: SemiBold Italic;
  --short-lh-mega: 148.807;
  --short-lh-h1: 99.204;
  --short-lh-h2: 66.136;
  --short-lh-h3: 44.091;
  --short-lh-body-large: 29.394;
  --short-lh-body-long: 24;
  --short-lh-body: 19.596;
  --short-lh-body-small: 16;
  --br-sharp: 0;
  --br-curved: 7.111;
  --br-round: 24;
  --br-extra-round: 36;
  --bw-reg: 2;
  --heading-xxl: [object Object];
  --heading-xl: [object Object];
  --heading-lg: [object Object];
  --heading-md: [object Object];
  --heading-sm: [object Object];
  --heading-xs: [object Object];
  --heading-xxs: [object Object];
  --heading-secondary-md: [object Object];
  --fs-caption: 10.667;
  --body-short-xxl: [object Object];
  --body-short-xl: [object Object];
  --body-short-lg: [object Object];
  --body-short-md: [object Object];
  --body-short-sm: [object Object];
  --body-short-xs: [object Object];
  --body-short-xxs: [object Object];
  --body-long-xxl: [object Object];
  --body-long-xl: [object Object];
  --body-long-lg: [object Object];
  --body-long-md: [object Object];
  --body-long-sm: [object Object];
  --body-long-xs: [object Object];
  --body-long-xxs: [object Object];
  --var-long-line-height: 1;
  --var-short-line-height: 0.5;
  --long-lh-mega: 182.25;
  --long-lh-h1: 121.5;
  --long-lh-h2: 81;
  --long-lh-h3: 54;
  --long-lh-body-large: 36;
  --long-lh-body-long: 29.394;
  --long-lh-body: 24;
  --long-lh-body-small: 19.596;
  --caption-xs: [object Object];
  --caption-sm: [object Object];
  --caption-md: [object Object];
  --caption-lg: [object Object];
      }