.light-theme {
          --theme-page-background-neutral: #FFFFFF;
  --theme-page-background-secondary: #FCFCFC;
  --theme-element-background-neutral-primary: #F1F2F4;
  --theme-element-background-neutral-secondary: #D0D6DA;
  --theme-element-background-inverted-primary: #17334A;
  --theme-element-background-neutral-tertiary: #D0D6DA;
  --theme-text-primary: #001729;
  --theme-text-inverted: #FFFFFF;
  --theme-text-secondary: #17334A;
  --theme-text-tertiary: #5C7080;
  --theme-text-subtle: #7AE2E8;
  --theme-interaction-primary: #108287;
  --theme-interaction-success: #038653;
  --theme-interaction-error: #db302d;
  --theme-interaction-primary-hover: #0a6368;
  --theme-interaction-primary-pressed: #05464a;
  --theme-article-case-study-text: #4a42fd;
  --theme-article-case-study-back: #e9e9fe;
  --theme-article-news: #0a6368;
  --theme-article-news-back: #def7f9;
  --theme-article-blog: #993d9c;
  --theme-article-blog-back: #f8e4f9;
      }